.bar__info{
    position: relative;
}


.bar__info_wrapper{
    margin: 20px auto;
    width: 700px;
    border: solid 2px #fff;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 1s ease 0s;
}

.is_active{
    display: block;
}

/* slider barUp*/


.barUp{
    width: 100%;
}

.barUp__img{
    width: 200px;
}